.p-card {
    top: 50%; 
    right: 10%;
    display: flex;
    justify-content: end;
    position: absolute;
    margin-top: 300px;
    
  }

/* style homepage */
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 100%; /* Sesuaikan sesuai kebutuhan Anda */
}

/* end style homepage */

/* style productlist */
.load-more{
  background-color: white !important;
  border-color: #6D31EDFF !important;
  color: #6D31EDFF !important;
  margin-bottom: 50px;
}

/* end style productlist */
  